<!DOCTYPE html>
<html>
<head>
    <% include parts/head.ejs %>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1><%= title %></h1>
            <p class="lead"><%= subtitle %></p>
        </div>
        <% include parts/post.ejs %>
        <div id="posts">
            <% if(!data) { %>
                <p id="none">No post for now... How sad...</p>
            <% } else {
                var date;
                data.forEach(function(post, index) { %>
                    <blockquote <% if(index%2 !== 0) { %>class="blockquote-reverse"<% }%>>
                        <p><%- post.text %></p>
                        <p><small><em><%= post.date %></em></small></p>
                    </blockquote>
            <% })}; %>
        </div>
    </div>
    <% include parts/footer.ejs %>
</body>

</html>
