<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Powered by <a href="#">Thingy</a> <small>by <a href="http://de-luca.io" target="_blank">Bastien de Luca</a></small>
        </p>
    </div>
</footer>
