<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Powered by <a href="https://github.com/de-luca/Thingy" target="_blank">Thingy</a> <small>by <a href="http://de-luca.io" target="_blank">Bastien de Luca</a></small>
    </p>
  </div>
</footer>

<script src="/resources/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  $('[data-toggle="tooltip"]').tooltip();
  var socket = io();
  socket.on('post', function(post) {
    var template = $('#template').clone();
    template.find('#text').html(post.text).removeAttr('id');
    template.find('#by').html(post.by).removeAttr('id');
    template.find('#timestamp').html(new Date(post.date)).removeAttr('id');
    template.find('#quote-footer').attr('title', post._id).removeAttr('id');
    if(!$('#posts blockquote').first().hasClass('blockquote-reverse') && $("#none").length == 0)
        template.addClass('blockquote-reverse');
    if($("#none").length != 0)
        $("#none").remove();
    template.prependTo('#posts');
    template.slideDown();
    template.attr('id', post._id);
  });
  socket.on('delete', function(id) {
    $('#'+id).slideUp(function() {
      this.remove();
    });
  });
</script>
